<form action="#">
  <div class="form-row align-items-center">
  <label for="photo">上传照片</label>
  <input type="file" class="form-control-file" id="photo">
  </div>
  <div class="form-row"><div class="col-sm-1">&nbsp;</div></div>
  <div class="form-row align-items-center">
    <label for="name" class=" col-form-label col-form-label-sm">姓名</label>
    <input type="text" class="form-control col-sm-3" id="name">
    <label for="sex" class="col-form-label col-form-label-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select  class="form-control col-sm-3" id="sex">
      <option value="Na" selected>请选择...</option>
      <option value="m">男</option>
      <option value="f">女</option>
    </select>
    <label for="dep" class=" col-form-label col-form-label-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;部门&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select type="text" class="form-control col-sm-3" id="dep">
      <option value="Na" selected>请选择...</option>
      <option value="dep1">部门1</option>
      <option value="dep2">部门2</option>
      <option value="dep3">部门3</option>
      <option value="dep4">部门4</option>
      <option value="dep5">部门5</option>
    </select>
  </div>
  <div class="form-row"><div class="col-sm-1">&nbsp;</div></div>
  <div class="form-row align-items-center">
    <label for="act" class="col-form-label col-form-label-sm">职务</label>
    <input type="text" class="form-control col-sm-3" id="act">
    <label for="phone" class="col-form-label col-form-label-sm">联系电话</label>
    <input type="text" class="form-control col-sm-3" id="phone">
    <label for="idCardNo" class="col-form-label col-form-label-sm">身份证号码</label>
    <input type="text" class="form-control col-sm-3" id="idCardNo">
  </div>
  <div class="form-row"><div class="col-sm-1">&nbsp;</div></div>
  <div class="form-row align-items-center">
    <label for="regAddress" class="col-form-label col-form-label-sm">户籍地址</label>
    <input type="text" class="form-control" id="regAddress" style="width: 38.2%;">
    <label for="address" class="col-form-label col-form-label-sm">现居地址</label>
    <input type="text" class="form-control col-sm-5" id="address" placeholder="具体到门牌号">
  </div>
  <div class="form-row"><div class="col-sm-1">&nbsp;</div></div>
  <div class="form-row align-items-center">
    <label for="emName" class="col-form-label col-form-label-sm">紧急联系人姓名</label>
    <label for="emPhone" class="col-form-label col-form-label-sm" style="margin-left: 16.7%;">紧急联系人电话</label>
  </div>
  <div class="form-row align-items-center">
    <input type="text" class="form-control col-sm-3" id="emName">
    <input type="text" class="form-control col-sm-3" id="emPhone" style="margin-left: 2%;">
    <label for="eduLevel" class="col-form-label col-form-label-sm">&nbsp;&nbsp;&nbsp;&nbsp;学历&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" class="form-control col-sm-2" id="eduLevel">
    <label for="maritalStat" class="col-form-label col-form-label-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;婚姻状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select type="text" class="form-control col-sm-1" id="maritalStat">
      <option value="Na" selected>请选择...</option>
      <option value="0">未婚</option>
      <option value="1">已婚</option>
      <option value="2">离异</option>
      <option value="3">丧偶</option>
    </select>
  </div>
  <div class="form-row"><div class="col-sm-1">&nbsp;</div></div>
  <div class="form-row align-items-center">
  <button type="button" class="btn btn-primary col-sm-1" style="margin-left: 71.6%">清空</button>
  <button type="button" class="btn btn-primary col-sm-1" style="margin-left: 4%">提交</button>
  </div>
</form>

