<table id="table"></table>
<div id="toolbar">
  <button type="button" class="btn btn-primary">编辑</button>
  <button type="button" class="btn btn-danger">删除</button>
</div>
<script>
    $("#table").bootstrapTable({
        url: 'http://localhost/other/data3.json',
        pagination: true,
        search: true,
        pageSize: 5,
        toolbar: "#toolbar",//指定工具栏
        pageList: [5, 10, 20, 50],//分页步进值
        columns: [
            { title: "全选",
                field: "select",
                checkbox: true,
                width: 20,//宽度
                align: "center",//水平
                valign: "middle"//垂直
            },
            {field: 'dep_id',       title: '部门编号' , sortable: true },
            {field: 'dep_name',     title: '部门名称'},
            {field: 'dep_header',      title: '负责人'},
            {field: 'dep_father',      title: '隶属部门'},
            {field: 'dep_desc',         title: '部门介绍'}
        ],
        onClickRow: function(row, $element) {
            //$element是当前tr的jquery对象
            $element.css("background-color", "green");
        },//单击row事件
    })
</script>