<!doctype html>
<html lang="zh-CN">
<head>
  <!-- 必须的 meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap 的 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <title>Login eKao System</title>

</head>
<style type="text/css">
  body{
    background-image: url("http://localhost/images/login1.png");
    color: rgba(255, 255, 255, 0.7);
    width: 99%;
  }

</style>
<body>
<!-- JavaScript 文件是可选的。从以下两种建议中选择一个即可！ -->
<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-LCPyFKQyML7mqtS+4XytolfqyqSlcbB3bvDuH9vX2sdQMxRonb/M3b9EmhCNNNrV" crossorigin="anonymous"></script>
<div class="row" >
  <div>&nbsp;&nbsp;&nbsp;</div>
  <div class="col-sm-5">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead" style="">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<form style="margin-top: 7%">

  <div class="form-group row">
    <div class="col-sm-4"></div>
    <label for="userName">User Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" style="background-color: rgba(255, 255, 255, 0.3);">
    </div>
    <small id="emailHelp" class="form-text text-muted"><a href="#">Log On</a></small>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <label for="psw">&nbsp;&nbsp;Password&nbsp;</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="psw" >
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-7"></div>
    <div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  </div>
  <div class="form-grop row">
    <div class="col-sm-7"></div>
    <div>
  <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </div>

</body>
</html>