<table id="table"></table>
<div id="toolbar">
  <button type="button" class="btn btn-primary">新增</button>
  <button type="button" class="btn btn-primary">编辑</button>
  <button type="button" class="btn btn-danger">删除</button>
</div>
<script>
    $("#table").bootstrapTable({
        url: 'http://localhost/other/data2.json',
        pagination: true,
        search: true,
        pageSize: 5,
        toolbar: "#toolbar",//指定工具栏
        pageList: [5, 10, 20, 50],//分页步进值
        columns: [
            { title: "全选",
                field: "select",
                checkbox: true,
                width: 20,//宽度
                align: "center",//水平
                valign: "middle"//垂直
            },
            {field: 'wt_id',       title: '排班号' , sortable: true },
            {field: 'wt_name',     title: '排班名称'},
            {field: 'wt_start_time',      title: '开始'},
            {field: 'wt_end_time',      title: '结束'},
            {field: 'wt_hours',      title: '工作时长(小时)'},
            {field: 'wt_total_hours', title: '开店时间(小时)'},
        ],
        onClickRow: function(row, $element) {
            //$element是当前tr的jquery对象
            $element.css("background-color", "green");
        },//单击row事件
    })
</script>