body {
	font-family: Roboto, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	/* color: #72777a; */
	/* line-height: 1.5; */
	letter-spacing: 0.2px;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* font-size: 14px; */
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

#loader.fadeOut {
	opacity: 0;
	display: none;
}

#loader.fadeOut {
	opacity: 0;
	visibility: hidden;
}

#loader {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 1;
	display: default;
}

#loader {
	transition: all .3s ease-in-out;
	opacity: 1;
	visibility: visible;
	position: fixed;
	height: 100vh;
	width: 100%;
	background: #fff;
	z-index: 90000;
}


#signin-form {
	width: 80%;
	margin: auto;
	background-color: rgba(0, 0, 0, .4);
	font-family: 'open-sans';
	padding: 2rem;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	margin-left: 5%;
  width: 30%;
	/* border: 6px solid #004980; */
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
	#signin-form {
		margin-left: 5%;
		width: 80%;
	}
}

.signin {
	/* background: #0b1e3b url("mages/login-bg.jpg") no-repeat center center fixed; */
	background-image: url("../images/login-bg.jpg"),linear-gradient(0deg,#fff,#d5e5f4 60%,#d4e4f4 68%,#cce0f1 75%,#c4dbef 85%,#bed7ed 92%,#b6d3eb);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	background-color:rgba(255,123,0,.04706);
	height: 100vh;
	background-color: #ff7b000c;
	padding-top: 3rem;
}


.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 6px 12px;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-group {
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input {
	overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 6px 12px;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
	color: #fff;
	/* background-color: #2196f3;
	border-color: #2196f3; */
	background-color: #bc463e;
  border-color: #bc463e;
	cursor: pointer;
	width: 100%;
}

.signin .btn-primary:hover {
	color: #fff;
	background-color: #9f3b35;
	border-color: #963831;
}
.signin .btn-primary.focus {
	color: #fff;
	background-color: #9f3b35;
	border-color: #963831;
	box-shadow: 0 0 0 0.2rem rgba(198, 98, 91, 0.5);
}

a {
	color: #fefefe;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #ccc;
}

a {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mb-4, .my-4 {
	margin-bottom: 24px !important;
	margin-bottom: 1.5rem !important;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
	border-style: none;
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 1rem;
}

.errors{
	color:red;
}

.col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width:50%;
}

.lang-select {
	margin-left: 1rem;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}