/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/3c7cb4"); */
  
@font-face {
  font-family: 'GeoSlab703MdBTWXX-Medium';
  src: url('/cas/public/static/GeoSlab703MdBTWXX-Medium/font.woff2') format('woff2'), url('/cas/public/static/GeoSlab703MdBTWXX-Medium/font.woff') format('woff');
}

@font-face {
  font-family: 'open-sans';
  src: url('/cas/public/static/OpenSans-Regular.ttf') format('truetype');
}
